@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Lobster';

/*      BASE CSS START      */

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.mycontainer {
    width: 90%;
    margin: 0 auto;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    width: 150px;
    border-color: #5175C0;
}

h1 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    line-height: 45px;
    margin-top: 40px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    line-height: 40px;
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
}

h4 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

h5 {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

p {
    font-size: 20px;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 5px 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
}

.animated {
    opacity : 0;
    transition: opacity .8s ease-in;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
}

@media (max-width: 650px) {
    h3 {
        font-size: 20px;
        width: 90%;
    }
}


/*img {
    margin-top: 50px;
}*/

form {
    margin-top: 50px;
}


/*      BASE CSS FINISH     */


/*      Navigation Menu start       */

.navbar-one {
    background-color: rgba(255, 255, 255, 0.0);
    /*background-color: rgba(81, 117, 192, 0.8);*/
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0;
    margin: 0;
    color: white;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
}

.color-toggle {
    background-color: #5175C0;
}

.navbar-default {
    border: none;
}

.navbar h2 {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: white;
    line-height: 25px;
}

.navbar-toggle {
    width: 40px;
    height: 40px;
    padding: 2px;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: inherit;
}

nav h2:hover {
    cursor: pointer;
}

#myNavbar1 {
    margin: 0;
    padding: 0;
}

#myNavbar1 li {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

#myNavbar1 a {
    background: inherit;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    margin: 0 5px;
}

#myNavbar1 a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	border-radius: 6px;
	transition: width .3s ease, background-color .3s ease;
}

#myNavbar1 a:hover:after {
    width: 100%;
    background: white;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#myNavbar1 a:focus:after {
    width: 100%;
    background: white;
    outline: none;
}

#myNavbar1 a:focus {
    outline: none;
}

@media (max-width: 760px) {
    #myNavbar1 a {
        width: 60vw;
    }
    #myNavbar1 a {
        width: 60vw;
        display: block;
    }
    #myNavbar1 a:hover {
        cursor: pointer;
    }
}


/*      Navigation Menu One end     */


/*      Navigation Menu Two start     */


.navbar-two {
    background-color: rgba(81, 117, 192, 1);
    /*background-color: rgba(81, 117, 192, 0.8);*/
    border-radius: 0px;
    position: relative;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0;
    margin: 0;
    color: white;
    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.navbar-two .navbar-default {
    border: none;
}

.navbar-two .navbar h2 {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: white;
    line-height: 25px;
}

.navbar-two .navbar-toggle {
    width: 40px;
    height: 40px;
    padding: 2px;
}

.navbar-two .navbar-toggle:hover,
.navbar-two .navbar-toggle:focus {
    background-color: white !important;
    color: #5175C0;
}

#myNavbar2 {
    margin: 0;
    padding: 0;
}

#myNavbar2 li {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

#myNavbar2 a {
    background: inherit;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    margin: 0 5px;
}

#myNavbar2 a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	border-radius: 6px;
	transition: width .3s ease, background-color .3s ease;
}

#myNavbar2 a:hover:after {
    width: 100%;
    background: white;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#myNavbar2 a:focus:after {
    width: 100%;
    background: white;
    outline: none;
}

#myNavbar2 a:focus {
    outline: none;
}

@media (max-width: 760px) {
    #myNavbar2 a {
        width: 60vw;
    }
    #myNavbar2 a {
        width: 60vw;
        display: block;
    }
    #myNavbar2 a:hover {
        cursor: pointer;
    }
}


/*      Navigation Menu Two end     */


/*      Cover Section start     */


#cover {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    color: white;
    position: relative;
}

#cover a {
    color: white;
}

.cover-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-filter: blur(0.7px);
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/pattern.png);
    background-repeat: repeat;
}

#cover #down-arrow {
    font-size: 60px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    z-index: 10;
}

#cover i {
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
}

#cover #down-arrow:hover {
    cursor: pointer;
}

#cover .zoomIn {
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
}


/*      Cover Section end       */


/*      Services Section start      */

#services {
    background-color: #f5f5f5;
}

.services-card {
    background-color: white;
    margin: 15px auto;
    border-bottom: 2px solid #5175C0;
    border-radius: 5px;
    padding: 0 15px;
}

/*.services-card:hover {
    box-shadow: 0px 1px 2px #5175C0;
}*/


/*#services .col-md-3 {
    padding: 10px;
}*/

#services .row {
    padding-top: 40px;
}

#services img {
    margin-top: 50px;
}

#services h4 {
    font-size: 16px;
    font-weight: 600;
    color: #3399FF;
}

#services h5 {
    font-size: 15px;
}


/*      Services Section end        */


/*      Wroks Section Start     */

#works img {
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 5px;
}

figure {
    border-radius: 5px;
    border: 1px solid #5175C0;
}

figure:hover {
    box-shadow: 0px 1px 2px #5175C0;
    border: 1px solid #5175C0;
}

#works .col-lg-4 {
    padding: 10px;
}

#works .row {
    padding-top: 40px;
}


/*      Works Section end       */


/*      Skills Section start        */

#skills {
    background-color: #f5f5f5;
}

#skills img {
    margin-top: 70px;
    border-radius: 5px;
    border: 2px solid #5175C0;
}


/*      Skills Section end        */


/*      hire-me Section starts      */

#hire-me {
    background-color: #5175C0;
    height: 300px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

#hire-me .btn {
    width: 20%;
    min-width: 100px;
}

#hire-me .btn:hover {
    background-color: #5175C0;
    color: white;
    border: 1px solid white;
}


/*      hire-me Section ends      */


/*      Contact Section starts      */

#contact form {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}

input,
textarea {
    margin: 10px 0;
}

.form-control {
    border: 1px solid #5175C0;
}

#contact .btn {
    width: 100%;
    margin: 10px 0;
    padding: 10;
    border: 1px solid #5175C0;
}

#contact .btn:hover {
    background-color: #5175C0;
    color: white;
}

@media (max-width: 650px) {
    #contact form {
        width: 90%;
    }
}


/*      Contact Section ends      */


/*      Footer starts      */

footer {
    background-color: #5175C0;
    padding: 20px;
    color: white;
}

footer ul {
    margin-bottom: 0;
}

footer li {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
}

footer li:hover {
    background-color: #5175C0;
}

footer li i {
    width: 40px;
    height: 40px;
    padding: 5px;
    color: #5175C0;
}

footer li i:hover {
    color: white;
    cursor: pointer;
}

footer h4 i {
    width: 40px;
}




/*      Form Submit page styling        */

.form-submitted {
    background-color: #5175C0;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}

.form-submitted .animated{
    opacity: 1;
}

.form-submitted .btn {
    width: 20%;
    min-width: 100px;
}

.form-submitted .btn:hover {
    background-color: #5175C0;
    color: white;
    border: 1px solid white;
}
